
<br>
<br>
<br>
<ion-content>
      <h2>Employees time log</h2>
  <br>
  <table style="width: 100%;" border= "1">
    <tr>
      <th>Name</th>
      <th>In-time</th>
      <th>Out-time</th>
      <th>Hours</th>
    </tr>
    <tr>
      <td>Kaushik</td>
      <td>10:00 AM</td>
      <td>6:00 PM</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Hyndavi</td>
      <td>9::00 AM</td>
      <td>4:00 PM</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Amulya</td>
      <td>11:00 AM</td>
      <td>6:00 PM</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Rohitha</td>
      <td>10:00 AM</td>
      <td>4:00 PM</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Aruna</td>
      <td>9:00 AM</td>
      <td>4:00 PM</td>
      <td>7</td>
    </tr>
  </table>
</ion-content>
