<ion-header>
  <ion-toolbar>
    <ion-title>CSA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="generate-qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR Code</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timelog">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Time log</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="login">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
